@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {
  box-sizing: border-box;
  margin: auto;
}
:root {
  --main-color: rgb(255, 255, 255);
  /* --secondary-color: rgb(96, 112, 116); */
  --secondary-color: #000000;
  --third-color: rgba(112, 112, 112, 0.15);
  --fourth-color: rgba(112, 112, 112, 0.85);
  --fifth-color: #ff6600;
}
body {
  /* background: var(--main-color); */
  /* background: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.1),
    rgba(112, 112, 112, 0.1)
  ); */
  /* );  background: linear-gradient(
    to top left,
    rgba(255, 255, 255, 0.6) rgba(1, 1, 1, 1)
  ); */

  color: #ffffff;
  font-family: 'Loto', sans-serif;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* overflow: hidden; */
  margin: 0;
  line-height: 1.8rem;
}

.hidden {
  display: none;
}
.sticky {
  position: fixed;
}
.header-wrap {
  width: 100vw;
  display: flex;
  justify-content: center;
  background: #ffffff;
}
.logo {
  min-height: 9rem;
  max-height: 10vh;
  min-width: 8rem;
  max-width: 80vw;

  padding: 1rem 0px 1rem 0px;
}

.header-links {
  text-transform: uppercase;
  padding: 0.6rem 1rem 0.6rem 1rem;

  border-top: 1px solid var(--third-color);
  /* border-left: */
  border-bottom: 1px solid var(--third-color);
  background: var(--main-color);
  width: 100vw;
  /* display: flex;
  justify-content: space-around;
  text-align: center; */
}
.header-links a {
  /* width: 8vw; */
  font-family: inherit;
  font-size: 0.7rem;
  font-weight: 500;
}
.links:hover {
  color: orangered;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  /* padding: 0vw 3vw 0vw 3vw; */
  /* width: 100%; */
  background-color: #ffffff;
  margin: 0;
  font-size: 1rem;
}
ul a {
  display: flex;
  text-decoration: none;
  justify-content: space-evenly;
  font-size: 0.9rem;
  color: #000000;
}
.main-window {
  margin-top: 2rem;
}
.main-text {
  /* position: relative; */
  margin-left: 4rem;
  color: #000;
}



.main-window--1 {
  padding: 5px 35px 5px 35px;
  height: 83vh;
}
.main-window--1::before {
  content: '';
  width: 100%;
  height: 100%;
  position: fixed;
  background: url(img/logo2.png) no-repeat center center/cover;
  background-size: contain;
  /* padding: 5px 35px 5px 35px; */
  opacity: 0.025;
  transform: translateX(-5%);
  z-index: -1;
}
.main-window--2 {
  height: 83vh;
  min-height: 1000px;
  padding: 5px 35px 5px 35px;
}
.main-window--2::before {
  content: '';
  width: 100%;
  height: 100%;
  position: fixed;
  transform: translateX(-5%);
  background: url(img/logo2.png) no-repeat center center/cover;
  background-size: contain;
  /* padding: 5px 35px 5px 35px; */
  opacity: 0.025;
  transform: translateX(-5%);
  z-index: -1;
}
.main-window--3 {
  padding: 5px 35px 5px 35px;
  min-height: 1000px;
  height: 83vh;
}
.main-window--3::before {
  content: '';
  width: 100%;
  height: 100%;
  position: fixed;
  background: url(img/logo2.png) no-repeat center center/cover;
  background-size: contain;
  transform: translateX(-5%);
  /* padding: 5px 35px 5px 35px; */
  opacity: 0.025;
  z-index: -1;
}
.main-text2 {
  padding-top: 5rem;
  /* position: relative; */
  margin-left: 4rem;
  color: #000;
}
.main-text3 {
  padding-top: 5rem;
  /* position: relative; */
  margin-left: 4rem;
  color: #000;
}
.dropdown__tab--2 {
  position: absolute;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 0.5px;
  flex-direction: column;
  justify-content: left;
  z-index: 1;
}
.dropdown__tab--2 a {
  font-size: 0.6rem;
  color: #5a5a5a;
  font-weight: 700;
}
.dropdown__tab--2 li {
  margin: 0;
  transform: translateX(-3vw);
}
.dropdown__tab--2 a:hover {
  color: #000;
}
#home {
  border-bottom: solid 2px #000;
}
.dropdown {
  position: absolute;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 0.5px;
  flex-direction: column;
  justify-content: left;
  z-index: 1;
}
.dropdown a {
  font-size: 0.6rem;
  color: #5a5a5a;
  font-weight: 700;
}
.dropdown li {
  margin: 0;
  transform: translateX(-3vw);
}
.dropdown a:hover {
  color: #000;
}
.dropdown2 {
  position: absolute;

  flex-direction: column;
  justify-content: left;
  z-index: 1;
}

.dropdown3 {
  position: absolute;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: solid 0.5px;
  flex-direction: column;
  justify-content: left;
  z-index: 1;
}
.dropdown3 a {
  font-size: 0.6rem;
  color: #5a5a5a;
  font-weight: 700;
}
.dropdown3 li {
  margin: 0;
  transform: translateX(-3vw);
}
.dropdown3 a:hover {
  color: #000;
}

.main-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 40vh;
  min-height: 300px;
  width: 100%;
  opacity: 1;
  overflow: hidden;
}

#body-image {
  height: 40vh;
  width: 100vw;
  opacity: 1;
  overflow: hidden;
  /* z-index: 1; */
}
.spacer {
  height: 10%;
  width: 100vw;
}

.main-wrap2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 1vh;
  height: 30vh;
  min-height: 500px;
  width: 100vw;
  opacity: 1;

  z-index: -1;
}
/* .main-wrap2::before {
  content: '';
  position: absolute;

  justify-content: center;
  margin-top: 4rem;
  transform: translateY(-17%);
  opacity: 1;
  height: 30vh;
  width: 100vw;
  background: url(img/logo.png) no-repeat center center/contain;
  opacity: 0.025;
  z-index: -2;
  overflow: hidden;
} */

.row {
  /* position: relative; */
  margin-top: 0;
  font-family: inherit;
  color: var(--secondary-color);
  text-align: left;
  padding-left: 2.5%;
  padding-right: 2.5%;
  /* background-color: #999; */
  opacity: 1;
  z-index: -1;
}
.row #row_1 {
  /* display: flex; */
  /* flex-direction: column; */
  /* width: 100%;
  height: 100%; */
  justify-content: center;
  align-items: center;
}
#calc {
  position: relative;

  justify-content: center;
  padding-left: 40%;

  width: 72%;
  height: 72%;
  opacity: 0.25;
}
/* .links {
  padding: 0rem 2rem 0rem 2rem;
  width: 35%;
} */
#contact::after {
  content: '';
  border-radius: 29%;
  /* opacity: 0.025; */
  /* padding: 0% 25% 0% 25%; */
}

.row #row3_2 {
  /* display: flex; */
  /* flex-direction: column; */
  /* width: 100%;
  height: 100%; */
  justify-content: center;
  align-items: center;
}
#houseicon {
  position: relative;

  justify-content: center;
  padding-left: 40%;

  width: 75%;
  height: 75%;
  opacity: 0.25;
}
#check {
  position: relative;

  justify-content: center;
  padding-left: 40%;
  padding-top: 0.5rem;
  width: 68%;
  height: 68%;
  opacity: 0.25;
}

h2#two {
  /* font-size: 1.2rem; */
  color: var(--secondary-color);
  /* position: absolute; */
  /* text-wrap: nowrap; */
}
.row h2 {
  /* font-size: 1.2rem; */
  /* text-size-adjust: auto; */
  text-align: center;
  color: var(--fifth-color);
}
h2#four {
  font-size: 1.2rem;
  color: var(--secondary-color);
}
.form {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: left;
}

.form_inner {
  display: grid;
  grid-template-rows: 100px 100px 100px 100px 300px 100px;
  grid-template-columns: 200px 200px;
  text-align: left;
  width: 50vw;
  /* border: solid 1px #000000; */
}

.name {
  width: 50vw;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;

  justify-content: left;
  text-align: left;
}
.email {
  width: 50vw;
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  padding-right: 30px;

  justify-content: left;
  text-align: left;
}

#h4email {
  margin-left: 10px;
}
#h4phone {
  margin-left: 10px;
}
#h4message {
  margin-left: 10px;
  /* transform: translateX(-100%); */
}
#message {
  
  height: 300px;
  width: 450px;
}
#submit {

  height: 30px;
  width: 105px;
}
.footer {
  position: relative;

  padding-bottom: 80px;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 60px;
  background-color: #bfbfbf;
  color: black;
}

@media all and (max-width: 800px) {
  body {
    background-color: skyblue;
  }
  .main-wrap2 {
    max-width: 95vw;
  }
  .main-text2 {
    margin-left: 2rem;
  }
  .main-text3 {
    margin-left: 2rem;
  }
  h2 {
    font-size: 1rem;
  }
  #free {
    padding-bottom: 1.6rem;
    /* padding-bottom: 2rem; */
  }
  #check {
    padding-top: 0rem;
  }
  .form_inner{
    padding:0;
    margin: 0;
  }
  main-window--3{
    width: 100vw;
  }
  .form_inner {
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 120px;
    grid-template-columns: 100px 100px;
    text-align: left;
    width: 50vw;
    /* border: solid 1px #000000; */
  }
  #message{
    width: 300px;
  }
}
@media all and (max-width: 400px) {
  body {
    background-color: goldenrod;
  }
  .main-window--0{
    min-height: 1500px;
    height: 83vh;
  }
  .main-wrap2 {
    max-width: 90vw;
    min-height: 1000px;
  }
  .main-text2 {
    margin-left: 2rem;
  }
  .main-text3 {
    margin-left: 2rem;
  }
  h2 {
    font-size: 1rem;
  }
  #free {
    padding-bottom: 1.6rem;
    /* padding-bottom: 2rem; */
  }
  #check {
    width: 75%;
    height: 75%;
  }
  .footer{
    height: 120px;
    width: 100vw;
    padding-bottom: 80px;
    /* left: 0;
    bottom: 0; */
  }

}
